model_config_list {
    config {
        name: "MyLeNet"
        base_path: "/models/MyLeNet"
        model_platform: "tensorflow"
        model_version_policy {
            specific {
                versions: 1
                versions: 2
            }
        }
    }
    config {
        name: "LeNet"
        base_path: "/models/LeNet"
        model_platform: "tensorflow"
        model_version_policy {
            specific {
                versions: 1
            }
        }
    }
}